version: "3.8"
services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  user-service:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - MONGO_URI=mongodb+srv://Ayodya:Ayodya@cluster0.csn4fag.mongodb.net/UserDB?appName=Cluster0
      - JWT_SECRET=replace_with_strong_secret
      - PORT=5001
    ports:
      - "5001:5001"
    depends_on:
      - mongo

volumes:
  mongo-data: